@charset "utf-8";

// Variables for light and dark mode
// Default
th,
tbody{
  --background-color: #f5f5f5;
}

// Dark mode
@media (prefers-color-scheme: dark) {
  body,
  a,
  th,
  tbody{
    --main-text-color: white;
    --main-background-color: #222;
    --background-color: #444;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Courier New, Courier, monospace;
}

html,
body {
  height: 100%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

a:hover {
  color: #aaa;
}

blockquote {
  margin: 15px;
  padding-left: 15px;
  border-left: 2px solid #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin: 5px 0;
  text-indent: 0;
}

h2 {
  font-size: 1.3em;
}

hr {
  margin: 10px;
  border: 1px solid #eee;
}

img {
  max-width: 700px;
}

ol,
ul {
  margin-left: 35px;
}

p {
  margin-bottom: 5px;
}

table {
  width: 100%;
}

tbody tr:hover {
  background-color: var(--background-color);
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  background: var(--background-color);
}

// markdown reset
a.reversefootnote {
  display: none;
}
