---
layout: default
---

<article class="container-post">
  <div class="post-title">
    <h1>{{ page.title }}</h1>
  </div>
  {% if site.name %}
  <div class="post-author print-post-author">
    <span>{{ site.name }}</span>
  </div>
  {% endif %}
  <div class="post-content">
    {{ content }}
  </div>
  <div class="post-info">
    <div class="post-date">
      {{ site.data.lang[site.language].post_write_date}}
      {{ page.date | date: '%Y-%m-%d' }}
      {% if page.last_modified_at %}
        ,
        {{ site.data.lang[site.language].post_update_date}}
        {{ page.last_modified_at | date: '%Y-%m-%d' }}
      {% endif %}
      .
    </div>
    {% if site.name %}
    <div class="post-author">
      {{ site.data.lang[site.language].post_author }}{{ site.name }}
    </div>
    {% endif %}
    <div class="post-categories">
      <span>{{ site.data.lang[site.language].post_categories }}</span>
      {% for category in page.categories %}
      <a 
        href="{{ site.baseurl }}/categories#{{ category }}"
        class="post-category">
        {{ category }}
      </a>
      {% endfor %}
    </div>
    <div class="post-tags">
      <span>{{ site.data.lang[site.language].post_tags }}</span>
      {% for tag in page.tags %}
      <span class="post-tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="post-other">
      {% if page.next %}
      <div>
        <span>
          {{ site.data.lang[site.language].post_next }}
        </span>
        <a href="{{ page.next.url }}">
          {{ page.next.title }}
        </a>
      </div>
      {% endif %}
      {% if page.previous %}
      <div>
        <span>
          {{ site.data.lang[site.language].post_previous }}
        </span>
        <a href="{{ page.previous.url }}">
          {{ page.previous.title }}
        </a>
      </div>
      {% endif %}
    </div>
    {% if site.comments %}
      {% include comments.html %}
    {% endif %}
  </div>
</article>
